body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.input:focus {
    border-color: #3b3be4;
}

.label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.checkbox-label {
    font-size: 14px;
    color: #333;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3b3be4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: rgb(59, 59, 228);
}

.message {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    visibility: hidden;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

input[type="file"] {
    padding: 5px;
    border: none;
}

select.input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
}
